/* styles.css */

/* Reset and basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Style for the header */
header {
  background-color: #096dd9;
  color: #fff;
  text-align: center;
  padding: 0.01cm;  /* Padding in centimeters */
}

/* Style for the h1 element inside the header */
header h1 {
  margin: 0;       /* Remove default margin */
  font-size: 2rem; /* Smaller font size */
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Section styles */
section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

section p {
  margin-top: 0;
}

/* ID Generator form styles */
#generator {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

#idGeneratorForm {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

select,
button {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

/* Generated ID display styles */
#generatedID {
  background-color: #e9f7fc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#generatedID p {
  margin: 0;
}

#generatedID strong {
  font-weight: bold;
}

/* Footer styles */
footer {
  background-color: #096dd9; /* Custom background color */
  color: #f8f9fa;         /* Custom text color */
  text-align: center;     /* Center text alignment */
  padding: 1rem 0;        /* Padding around the footer */
  position: fixed;        /* Fix the footer to the bottom of the page */
  bottom: 0;              /* Align it to the bottom */
  width: 100%;            /* Ensure the footer spans the full width */
}

footer p {
  margin: 0;              /* Remove default margin from the paragraph */
  font-size: 0.9rem;      /* Adjust font size if needed */
}
